/*------------------------------
Index

Layout
Dashboard Title

------------------------------*/

/* Fonts */
.partner-dashboard .card,
.partner-dashboard #community-rating,
.partner-dashboard #date-range,
.partner-dashboard #lpd-authorized-users,
.partner-dashboard #lpd-nav,
.partner-dashboard .subtitle,
.partner-dashboard .table-label,
.partner-dashboard .nodata-message {
  font-family: concourse, sans-serif;
}

.partner-dashboard thead {
  font-family: concourse, sans-serif !important;
}


/* Layout */
.partner-dashboard {
  font-size: 10px;
}

.partner-dashboard #column_container {
  display: block;
}

.partner-dashboard #content_column > *:last-child {
  margin-bottom: 6rem;
}

/* Cards */
.partner-dashboard .card {
  padding: 2rem;
}

.partner-dashboard .card .card-label {
  margin-bottom: .5em;
}

.partner-dashboard .report-label {
  color: #555;
  font-size: 1.6rem;
  line-height: 1.1;
}

.partner-dashboard .report-number {
  font-size: 6.3rem;
}

.partner-dashboard .report-label-detail {
  color: #777;
  font-size: 1.2rem;
  line-height: 1.1;
}


/* Dashboard Login Form */
#lpd-login {
  margin: 4rem auto;
  max-width: 32rem;
}

#lpd-login p {
  margin-bottom: 1rem;
}

#lpd-login p.login-remember {
  margin-bottom: 1.5rem;
}

#lpd-login label,
#lpd-login .login-lost-password {
  font-size: 1.6rem;
}

#lpd-login .login-username input,
#lpd-login .login-password input,
#lpd-login .login-submit input {
  width: 100%;
}

#lpd-login input#wp-submit {
  margin-bottom: 0;
}


/* Partner Dashboard List */
#lpd-dashboard-list .card {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-template-columns: 11rem 1fr;
}

#lpd-dashboard-list a.card:hover {
  text-decoration: none;
}

#lpd-dashboard-list .card .wp-post-image {
  align-self: center;
  background-color: #ddd;
  box-sizing: content-box;
  display: block;
  margin: 0;
  padding: .5rem;
  width: 10rem;
}

#lpd-dashboard-list .card h2 {
  align-self: center;
}

#lpd-dashboard-list a.card:hover h2 {
  color: #a00;
}

/* Dashboard Title */
#lpd-title {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 10rem auto min-content;
    grid-template-rows: 11rem;
    margin-bottom: 3rem;
    overflow: visible;
  }

    #lpd-title div[itemprop="image"] {
      background-color: #ddd;
      border-radius: .2rem;
      box-sizing: border-box;
      height: 10rem;
      margin: 0 1rem 0 0;
      padding: .5rem;
      width: 10rem;
    }

      #lpd-title img.wp-post-image {
        height: 100%;
        margin: auto 0;
        max-width: none;
        width: auto;
      }

    #lpd-title .title-container {
      align-self: center;
    }

      #lpd-title .title {
        margin-bottom: 0;
      }

      #lpd-title .subtitle {
        color: #777;
        font-size: 1.8rem;
        margin-bottom: 0;
        text-transform: uppercase;
      }

#lpd-nav {
  border-bottom: .1rem solid #ddd;
  display: grid;
  grid-column-gap: .2rem;
  grid-template-columns: repeat( 5, 1fr );
  margin-bottom: 3rem;
}

#lpd-nav .tab {
  background-color: #f9f9f9;
  border-color: #ddd;
  border-radius: .3rem .3rem 0 0;
  border-style: solid;
  border-width: .1rem .1rem 0 .1rem;
  font-size: 1.4rem;
  padding: 1rem .5rem;
  text-align: center;
  text-transform: uppercase;
}

#lpd-nav .tab.active {
  background-color: #fff;
  border-bottom: .1rem solid #fff;
  margin-bottom: -.1rem;
}

#lpd-nav a.tab:hover,
#lpd-nav a.tab:focus {
  background-color: #ddd;
  border-bottom: #fff;
  text-decoration: none;
}


.partner-dashboard #lpd-performance-report,
.partner-dashboard #lpd-affinity-claims {
  margin-bottom: 3rem;
}

  .partner-dashboard .nodata-message {
    color: #555;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .partner-dashboard #date-range {
    color: #555;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .partner-dashboard #date-range a {
    background-color: #bbb;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 1.2rem;
    margin: 0 .4rem .4rem 0;
    padding: .4rem .8rem;
    text-transform: uppercase;
  }

    .partner-dashboard #date-range a:hover,
    .partner-dashboard #date-range a:hover {
      background-color: #c5c5c5;
      color: #fff;
      text-decoration: none;
    }

    .partner-dashboard #date-range a:active,
    .partner-dashboard #date-range a:active {
      background-color: #a7a7a7;
      color: #eee;
    }

    .partner-dashboard #date-range a.on,
    .partner-dashboard #date-range a.on:hover {
      background-color: #a7a7a7;
      color: #fff;
    }

    .partner-dashboard #date-range a.on:active {
      color: #eee;
    }


/* Layout */
.cols-4 {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;
  grid-template-columns: repeat( 4, 1fr);
}

.cols-2 {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;
  grid-template-columns: repeat( 2, 1fr );
}

  @media only screen and ( max-width: 549px ) {

    .cols-2 {
      grid-template-columns: 1fr;
    }

  }

.partner-dashboard .table-label {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

table.affinity-claims {
  margin-bottom: 1rem;
  width: 100%;
}

  .affinity-claims thead {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .affinity-claims tbody {
    font-size: 1.6rem;
  }

    .affinity-claims tbody tr:hover {
      background-color: #eee;
    }

    .affinity-claims td.claim_status select {
      width: 100%;
    }

.affinity-claims button {
  margin: 0;
}

#lpd-authorized-users .authorized-user {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-template-columns: minmax( 5rem, 9rem ) 1fr;
}

  #lpd-authorized-users .user-details {
    align-self: center;
  }

    #authorized-users .user-name {
      font-size: 1.8rem;
    }

    #lpd-authorized-users .user-email {
      color: #777;
      font-size: 1.4rem;
    }
